* {
  margin: 0;
  padding: 0;
}

.setup {
  display: flex;
  justify-content: center;

  padding: 24px;

  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100%;
  max-width: 1024px;
  height: 100%;
}
