@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
  --font-family: "DotGothic16", sans-serif;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  
  /* 3:4 perfect fourth scale */
  --font-size-x-display: 5.16rem;
  --font-size-display: 4.3rem;
  --font-size-xx-large: 3.583rem;
  --font-size-x-large: 2.488rem;
  --font-size-large: 1.728rem;
  --font-size-medium: 1.44rem;
  --font-size: 1.0rem;
  --font-size-small: 0.75rem;
  --font-size-x-small: 0.694rem;
  --font-size-xx-small: 0.579rem;
  --lineheight: 1.3125rem;
  --lineheight-small: 1rem;
  --letter-spacing: 0.75px;
  
  --color-background: #Ffefdef;
  --color-base: #f9eaf0;
  --color-accent: #c42e66;
  --color-background-selection: #f9eaf0;
  --color-border: #9facdf;
  --color-text-default: #2b2b2b;
  --color-text-link: var(--color-accent);
  --color-text-link-active: var(--color-text-link);
  --color-text-link-focus: var(--color-text-link);
  --color-text-link-hover: #9d7ad4;
  --color-text-link-visited: var(--color-text-link);

  --color-future-market: rgba(243, 222, 44, 1);
  --color-future-digitization: rgba(0, 33, 255, 1);
  --color-future-none: rgba(190, 183, 223, 1);
  --color-future-luxury: rgba(255, 69, 0, 1);
  --color-future-survival: rgba(69, 75, 27, 1);
  
  --color-button-default: var(--color-accent:);
  --color-button-border: var(--color-base);
  --color-button-text: #fff;
  
  --border-radius-x-small: .25rem;
  --border-radius-small: .5rem;
  --border-radius-medium: .75rem;
  --border-radius-large: 1.5rem;
  --border-radius-circle: 50%;
  --border-width-hairline: 0.5px;
  --border-width: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 5px;
  
  --grid-64: 3fr 1fr 2fr 2fr 1fr 3fr;
  --grid-gap: 4vw;
  
  --max-width: 80rem;
  --spacing-xx-small: .125rem;
  --spacing-x-small: .25rem;
  --spacing-small: .5rem;
  --spacing: .75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem; 
  
  --duration-instantly: 0;
  --duration-immediately: 0.1s;
  --duration-quickly: 0.2s;
  --duration-promptly: 0.5s;
  --duration-slowly: 1s;

  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
  }