* {
  margin: 0;
  padding: 0;
}

.inventoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: var(--spacing-small);
  
  width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;
}

.inventoryWrapper.tapped {
  gap: 0;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 0; 
  padding: var(--spacing-medium) var(--spacing-large);
  border-radius: var(--border-radius-large);

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  width: calc-size(auto, size);
  height: fit-content;
  min-height: 0;
  max-height: calc-size(auto, size);
  transform: scale(1);

  transition: all 800ms var(--ease-out-quart);
}

@media (hover: hover) and (pointer: fine) {
  .inventory:hover {
    transform: scale(1.1);
  }

  .inventory.tapped:hover {
    transform: scale(1);
  }
}

.inventory.tapped {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: var(--spacing-large); 
  padding: var(--spacing-large);
  border-radius: var(--border-radius-large);

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  
  width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;

  transform: scale(1);

  transition: all 800ms var(--ease-out-quart);
}

.inventory .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--spacing-medium);

  color: rgba(255, 255, 255, 1);

  width: 100%;

  transition: all 800ms var(--ease-out-quart);
}

.inventory .container.tapped {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--spacing-large); 

  color: rgba(255, 255, 255, 1);

  width: 100%;

  transition: all 800ms var(--ease-out-quart);
}

.inventory .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-small);
}

.inventory .label {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  line-height: var(--lineheight-small);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);

  text-transform: uppercase;
}

.inventory .item-count {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  line-height: var(--lineheight-small);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);

  color: rgba(255, 255, 255, 0.5);
}

.inventory .indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius-large);
}

.inventory .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: scroll;

  opacity: 0;
  height: 0;
  width: 0;

  transition: opacity 800ms var(--ease-out-quart);
}

.inventory .list.tapped {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: var(--border-radius-medium);

  
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
  gap: var(--spacing-xx-large);
  
  opacity: 1;
  height: 100%;
  width: 100%;

  transition: opacity 800ms var(--ease-out-quart);
}

.inventory .list::-webkit-scrollbar {
  display: none;
}